* {
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.15;
}

body {
    background: #e7e7e7;
}

.header {
    min-height: 100px;
    display: flex;
    font-size: 3rem;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    min-height: calc(100vh - 100px);
    justify-content: center;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
}

.carousel {
    position: relative;
    background-color: white;
    display: flex;
    max-width: 100%;
    height: 100px;
    overflow: hidden;
}

.carousel::before,
.carousel::after {
    content: "";
    height: 100%;
    width: 100px;
    background: linear-gradient( to right, white 0%, transparent 100%);
    position: absolute;
    top:0;
    z-index: 1;
}

.carousel::before {
    left: 0;
}

.carousel::after {
    right: 0;
    transform: rotate(180deg);
}

.slide {
    display: flex;
    animation: slideshow 10s linear infinite;
    height: 100%;
    align-items: center;
}

.slide__image {
    height: calc(100% - 40px);
    margin: 0 40px;
}

.slide__image {
    height: calc(100% - 40px);
    margin: 0 40px;
}

@keyframes slideshow {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
